<div class="container">
  <div class="row">
    <div class="col-2"><a href="/inbox"><h2>Inbox</h2></a></div>
    <div class="col-2"><a href="/inbox/outbox"><h2>Outbox</h2></a></div>
    <div class="col-2"><h2>Draft</h2></div>
  </div>
</div>

  {{#if error}}
  <div class="alert alert-danger">{{{ error }}}</div>
  {{/if}}

  {{#if success}}
  <div class="alert alert-success">{{ success }}</div>
  {{/if}}

{{#each feedback}}
<div class="container">
<div class="row">
<p><a href="/inbox/edit/{{_id}}">{{this.to.fullName}}  {{comments.[0]}}{{comments.[1]}}{{comments.[2]}}... {{this.status}}</a></p>
<form action="" method="POST">
{{!-- <input type="hidden" name="id" value="{{_id}}"> --}}
<button class="btn btn-danger btn-sm" id="button-delete">Delete</button>
</form>
</div>
</div>

{{/each}}