<h1>Inbox</h1>

{{#each feedback}}
{{#unless ../isAccepted}}

{{#unless ../isAnonymous}}
<h2><a href="/feedback/{{_id}}">New feedback signed by {{this.from.fullName}}</a></h2>
{{/unless}}

{{#if ../isAnonymous}}
<h2><a href="/feedback/{{_id}}">New feedback from an Anonymous</a></h2>

{{!-- parei aqui --}}

{{/if}}

<form action="/feedback/accept" method="POST">
<input type="hidden" name="id" value="{{_id}}">
<button type="submit" class="edit-button-red">Accept</button>
<button type="submit" class="edit-button-red">Refuse</button>
</form>
{{/unless}}

{{#if isAccepted}}
{{#unless toDiscardedStatus}} 
<h2><a href="/feedback/{{_id}}">{{userFrom}}  {{comments}}</a></h2>
<form action="/feedback/discard" method="POST">
<input type="hidden" name="id" value="{{_id}}">
<button type="submit" class="edit-button-red">Discard</button>
</form>
{{/unless}}
{{/if}}
{{/each}}

{{!-- /<p><a href="/course/delete?course_id={{_id}}" class="edit-button-red">Delete</a></p> --}}







{{!-- <h1>Feedback Inbox</h1>

  {{#if error}}
  <div class="alert alert-danger">{{{ error }}}</div>
  {{/if}}

  {{#if success}}
  <div class="alert alert-success">{{ success }}</div>
  {{/if}}

<p>You are logged in.</p> --}}
