<div class="container">
  <div class="row">
    <div class="col-2"><h2>Inbox</h2></div>
    <div class="col-2"><a href="/inbox/outbox"><h2>Outbox</h2></a></div>
    <div class="col-2"><a href="/inbox/draft"><h2>Draft</h2></a></div>
  </div>
</div>


  {{#if error}}
  <div class="alert alert-danger">{{{ error }}}</div>
  {{/if}}

  {{#if success}}
  <div class="alert alert-success">{{ success }}</div>
  {{/if}}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">From:</th>
      <th scope="col">Message</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    
      {{#each feedback}}
      <tr>
      {{#ifisDelivered this.status}}
      
      <th scope="row">
       {{#ifisAnonymous this.type}}
       New feedback from Anonymous
       {{else}}
       New feedback signed by {{this.from.fullName}}
      {{/ifisAnonymous}}
      </th>
      
      <td></td>
      <td></td>
      
      <td>
        <div class="row"><form action="/inbox/accept" id="accept-refuse" method="POST">
        <input type="hidden" name="id" value="{{_id}}">
        <button type="submit" class="btn btn-outline-success btn-sm">Accept</button>
        </form>
        &nbsp
        <form action="/inbox/refuse" id="accept-refuse" method="POST">
        <input type="hidden" name="id" value="{{_id}}">
        <button type="submit" class="btn btn-outline-danger btn-sm">Refuse</button>
        </form>
        </div>
      </td>

      {{else}}
      
      
      <th scope="row">
      {{#ifisAnonymous this.type}}
       <a href="/inbox/{{_id}}">Anonymous</a>
       {{else}}
       <a href="/inbox/{{_id}}">{{this.from.email}}</a>
       {{/ifisAnonymous}}
      </th>
      
      <td><a href="/inbox/{{_id}}">{{trimString comments 0 10}}</a></td>

      {{!-- <td><a href="/inbox/{{_id}}">{{comments.[0]}}{{comments.[1]}}{{comments.[2]}}...</a></td> --}}
      
      <td><a href="/inbox/{{_id}}">{{this.status}}</a></td>
      
      <td>
      <div class="row"><form action="/inbox/discard" method="POST">
      <input type="hidden" name="id" value="{{_id}}">
      <button type="submit" class="btn btn-danger btn-sm">Discard</button>
      </form>
      </div>
      </td>
      {{/ifisDelivered}}
      </tr>
      {{/each}}
    
  </tbody>
</table>
  
{{!-- {{#each feedback}}
<div class="container">
<div class="row">
{{#ifisDelivered this.status}}

{{#ifisAnonymous this.type}}

<p>New feedback from Anonymous</p>
{{else}}
<p>New feedback signed by {{this.from.fullName}}</p>

{{/ifisAnonymous}}


<form action="/inbox/accept" method="POST">
<input type="hidden" name="id" value="{{_id}}">
<button type="submit" class="btn btn-outline-success btn-sm">Accept</button>
</form>

<form action="/inbox/refuse" method="POST">
<input type="hidden" name="id" value="{{_id}}">
<button type="submit" class="btn btn-outline-danger btn-sm">Refuse</button>
</form>

{{else}}
{{#ifisAnonymous this.type}}
<p><a href="/inbox/{{_id}}">{{comments.[0]}}{{comments.[1]}}{{comments.[2]}}...from an Anonymous </a></p>
{{else}}
<p><a href="/inbox/{{_id}}">{{comments.[0]}}{{comments.[1]}}{{comments.[2]}}...signed by {{this.from.fullName}} </a></p>
{{/ifisAnonymous}}

<form action="/inbox/discard" method="POST">
<input type="hidden" name="id" value="{{_id}}">
<button type="submit" class="btn btn-danger btn-sm">Discard</button>
</form>

{{/ifisDelivered}}
</div>
</div>

{{/each}} --}}

{{!-- <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">From:</th>
      <th scope="col">Message</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    
      {{#each feedback}}
      <tr>
      
      <th scope="row"><a href="/inbox/outbox/{{_id}}">{{this.to.email}}</a></th>
      <td><a href="/inbox/outbox/{{_id}}">{{comments.[0]}}{{comments.[1]}}{{comments.[2]}}...</a></td>
      <td><a href="/inbox/outbox/{{_id}}">{{this.status}}</a></td>
      <td><form action="/inbox/outbox/discard" method="POST">
    <input type="hidden" name="id" value="{{_id}}">
    <button type="submit" class="btn btn-danger btn-sm">Discard</button>
  </form></td>
      </tr>
      {{/each}}
    
  </tbody>
</table> --}}







