<h1></h1>

<form class="col-md-6 offset-md-3" id="form" action="" method="POST">
  

  {{#if error}}
  <div class="alert alert-danger">{{ error }}</div>
  {{/if}}

{{#with feedback}}

  <input type="hidden" name="_id" value="{{_id}}" >


  <div class="form-group">
    
    <label for="to">to: {{to.fullName}}</label>

  </div>

  <div class="form-group">
    <label for="comments">Feedback</label>
    <br><textarea name="comments" class="form-control"
      placeholder="Write a constructive feedback" rows="8" readonly>{{comments}}</textarea>
  </div>

  <div class="form-group">
    <label for="type">The type of the sent feedback</label><br>
    <select class="form-control" name='hierarchy' disabled>
      {{#select hierarchy }}
      <option value="Downward">Downward</option>
      <option value="Upward">Upward</option>
      <option value="Pair" > Pair</option>
      <option value="None of above" >None of above</option>
      {{/select}}
    </select>
  </div>

  <div class="form-check">
    <input {{#check type}}{{/check}} type="checkbox" class="form-check-input" value="Anonymous" name="type">
    <label class="form-check-label" for="exampleCheck1" >Send as anonymous</label>
  </div>
</form>

<form action="/inbox/outbox/discard" method="POST">
<input type="hidden" name="id" value="{{_id}}">
<button type="submit" class="btn btn-danger btn-sm">Discard</button>
</form>

{{/with}}



