<h1></h1>

<form class="col-md-6 offset-md-3" id="form" action="" method="POST">
  

  {{#if error}}
  <div class="alert alert-danger">{{ error }}</div>
  {{/if}}

{{#with feedback}}

  <input type="hidden" name="_id" value="{{_id}}" >


  <div class="form-group">

    {{#ifisAnonymous type}}

    <label for="from">From Anonymous</label>
    {{else}}{{#if from}}
    <label for="from">Signed by {{from.fullName}}</label><br>
    <label for="email">Email: {{from.email}}</label>
     {{/if}}{{/ifisAnonymous}}
  </div>

  <div class="form-group">
    <label for="comments">Feedback:</label>
    <br>
    <p class="italic">"{{{comments}}}"</p>
  </div>

  <div class="form-group">
    <label for="type">The type of the received feedback</label><br>
    <select class="form-control" name='hierarchy' disabled>
      {{#select hierarchy }}
      <option value="Downward">Downward</option>
      <option value="Upward">Upward</option>
      <option value="Pair" > Pair</option>
      <option value="None of above" >None of above</option>
      {{/select}}
    </select>
  </div>

</form>

{{#if ../tokenWeb}}
<form class="col-md-6 offset-md-3">
<a href="/sign-up" class="btn btn-primary btn-sm">Register today and start Feedbacking!!</a>
</form>
{{else}}
<form class="col-md-6 offset-md-3" action="/inbox/discard" method="POST">
<input type="hidden" name="id" value="{{_id}}">
<button type="submit" class="btn btn-danger btn-sm">Discard</button>
</form>
{{/if}}

{{/with}}

<div class="container">
  <div class="row">
    <div class="col-2"><a href="/inbox"><h3>Return to Inbox</h3></a></div>
    </div>
</div>



